<script type="text/template" id="unfListTmpl">
    <% for(var k in unfList){ %>
    <div class="item" taskId="<%=unfList[k].id%>">
      <div class="l">
        <input type="checkbox" class="isFinished">
        <h6><%=unfList[k].taskname%></h6>
      </div>
      <div class="r">
        <div class="date"><%= Util.dateFormat(new Date(unfList[k].fDate), 'YYYY-MM-DD') %></div>
      </div>
    </div>
    <% } %>
</script>
<script type="text/template" id="fListTmpl">
    <% for(var k in fList){ %>
    <div class="item" taskId="<%=fList[k].id%>">
      <div class="l">
        <input type="checkbox" class="isFinished" checked >
        <div class="title">
          <h6><%=fList[k].taskname%></h6>
          <!--<span class="ago"><%=fList[k].ago%></span>-->
        </div>
      </div>
      <div class="r">
        <div class="date"><%= Util.dateFormat(new Date(fList[k].fDate), 'YYYY-MM-DD') %></div>
      </div>
    </div>
    <% } %>
</script>
